---
import { Icon } from "astro-icon/components";

const statistisInfo = [
  {
    title: "Cursos Disponibles",
    value: "10+",
    color: "text-blue-600",
    icon: "courses",
  },
  {
    title: "Estudiantes en Udemy",
    value: "100k+",
    color: "text-purple-600",
    icon: "udemy-icon",
  },
  {
    title: "Calificación Promedio",
    value: "4.5★",
    color: "text-orange-600",
    icon: "star-icon",
  },
  {
    title: "Suscriptores YouTube",
    value: "35+",
    color: "text-red-500",
    icon: "youtube-icon",
  },
];
---

<div class="max-w-7xl mx-auto px-4">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-center">
    {
      statistisInfo.map((stat) => (
        <div>
          <div class="flex justify-center mb-4 pb-8">
            <Icon name={stat.icon} class={`size-16 ${stat.color}`} />
          </div>
          <div class={`text-4xl font-bold ${stat.color} mb-2`}>
            {stat.value}
          </div>
          <div class="text-gray-600">{stat.title}</div>
        </div>
      ))
    }
  </div>
</div>
